.sidebarItem {
    -fx-background-color:  #0a4969;
}

.sidebarItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-cursor: hand;
}

.itemInfo {
    -fx-background-radius: 20;
}